.skeleton {
    background-color: rgba(193, 199, 187, 0.63);
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 28.125rem;
    height: 32.9375rem;

    @media (max-width: 767px) {
        width: 28.125rem;
    }

    @media (max-width: 500px) {
        width: 21.875rem;
    }

    @media (max-width: 380px) {
        width: 18.75rem;
    }
}