.card {
    background-color: #fff;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    border-radius: 0.625rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 28.125rem;

    @media (max-width: 767px) {
        width: 28.125rem;
    }

    @media (max-width: 500px) {
        width: 21.875rem;
    }

    @media (max-width: 380px) {
        width: 18.75rem;
    }

    &__cover {
        margin: 0.625rem auto;

        button {
            color: #fff;
            background-color: #4CAF50;
            padding: 0.625rem;
            border: 0.0625rem solid #4CAF50;
            border-radius: 0.625rem;
            text-align: center;
            cursor: pointer;
            box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.39);
            transition: all 0.1s ease-out;

            &:hover {
                box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.356);
                transform: translateY(0.125rem);
            }
        }
    }

    
    &__button-location {
        display: block;
        margin: 10px auto;
        padding: 8px 16px;
        color: #4CAF50;
        font-weight: 600;
        background-color: #ffffff;
        border: 2px solid #4CAF50;
        border-left: 0px;
        border-right: 0px;
        cursor: pointer;

        &:hover {
            background-color: #f5f4f4;

        }
    }
}

.user-card {
    padding: 1.25rem;
    text-align: center;

    &__avatar {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    &__username {
        margin: 0.625rem 0 0.3125rem;
        font-size: 1.5rem;
    }

    &__location,
    &__gender,
    &__email {
        display: block;
        margin-top: 0.625rem;
        color: #666;
    }
}

.weather-card {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.9375rem;
    height: 13.75rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        gap: 1.25rem;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: auto;

        @media (max-width: 767px) {
            gap: 0.625rem;
        }
    }

    &__heading {
        font-size: 1.3rem;
        margin: 0 0 0.9375rem 0;
        text-align: center;

        @media (max-width: 767px) {
            font-size: 1.1rem;
        }
    }

    &__condition {
        margin: 0;
        font-size: 1.32rem;
        text-align: center;

        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
    }

    &__temperature {
        font-size: 1.5rem;
        line-height: 130%;
        margin: 0.3125rem 0;
        text-align: center;

        @media (max-width: 767px) {
            font-size: 1.2rem;
        }
    }

    &__img-cover {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        display: block;
        margin-top: 0.625rem;
        font-size: 1rem;
        color: #d8d8d8;
    }
}