.show {
    margin-top: 1.875rem;
    &__container {

    }
    &__title {
        display: block;
        font-size: 30px;
        text-align: center;
        color: white;
        padding: 10px;
        margin: 0 auto 15px auto;
        max-width: -moz-fit-content;
        max-width: fit-content;
        background-color: #4CAF50;
        border-radius: 101px;
        
    }
    &__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.25rem;
    }
}