.header {

    &__container {}

    &__nav {
        display: flex;
        column-gap: 15px;
        padding: 10px;
        margin: 0 auto 9px auto;
        max-width: -moz-fit-content;
        max-width: fit-content;
        background-color: #4CAF50;
        border-radius: 15px;

        a {
            color: rgb(239, 240, 207);
            text-decoration: none;
            font-size: 20px;
            transition: all 0.3s ease-out;

            &:hover {
                color: #666;
            }
        }
    }
}

.main {

    &__container {}

    &__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.25rem;
    }
}