.show {
    margin-top: 1.875rem;

    &__title {
        display: block;
        font-size: 1.875rem;
        text-align: center;
        color: white;
        padding: 0.625rem;
        margin: 0 auto 0.9375rem auto;
        max-width: -moz-fit-content;
        max-width: fit-content;
        background-color: #4CAF50;
        border-radius: 6.3125rem;

    }

    &__cards  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.25rem;
    }
}

